@import '../../assets/styles/common.scss';
.exercise-articles {
    display: flex;

    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
    font-size: 48px;
}

.myInput {
    margin-top: 20px;
    font-size: 48px;
}
