* {
    align-items: center;
    font-weight: 700;
}

.walkieTalkie {
    text-align: center;
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    justify-content: center;
}
.heading {
    margin-top: 4vw;
    display: flex;
    justify-content: center;
}
.avatars {
    margin-top: 4vw;

    display: flex;
    justify-content: center;
}

.colorsLetters {
    display: flex;
    max-width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 4vw;
}

.colorBox {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0 solid #e5e7eb;
    border-width: 1px;
    border-radius: 9999px;
    margin: 1px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -4px rgba(0, 0, 0, 0.1);

    &:hover {
        transform: translateY(-10px);
    }
}

.shadow-lg {
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -4px rgba(0, 0, 0, 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
        0 4px 6px -4px var(--tw-shadow-color);
}

@media only screen and (max-width: 600px) {
}
