@import '../../assets/styles/common.scss';

.Navbar {
    background-color: $background-color;
    min-height: fit-content;
    min-width: fit-content;
    display: flex;
    justify-content: center;
}

a {
    color: $link-color;
    font-size: $font-big-size;
    text-decoration: none;
}
