$main-color: var(--main-color, #17141d);
$link-color: var(--link-color, #ffffff);
$secondary-color: var(--secondary-color, #f7f9f9);
$list-color: var(--list-color, #d42121);
$background-color: var(--background-color, #233237);
$button-color: var(--button-color, #984b43);
$link-color_active: var(--link-color_active, #1da1f2);
